<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ESRI.ArcGIS.Carto" publicKeyToken="8fc3cc631e44ad86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.4.0.0" newVersion="10.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ESRI.ArcGIS.Geoprocessor" publicKeyToken="8fc3cc631e44ad86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.4.0.0" newVersion="10.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ESRI.ArcGIS.Geoprocessing" publicKeyToken="8fc3cc631e44ad86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.4.0.0" newVersion="10.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>